<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a id="logo" class="navbar-brand" href="#">Brainhub</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <a href="/login" class="btn btn-outline-success my-2 my-sm-0">Login</a>
      </div>
    </div>
  </nav>
  <div id="promo-cover" class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="promo">
          <div class="promo-title">
            <h1 class="display-4"> Spend less time managing and more time making. </h1>
            <p>
              We simplified every aspect of building a great team —
              so you can share your work easily and get back to making what you love.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
