@import 'bootstrap/bootstrap';
@import 'shared';
@import 'dashboard';
@import 'page-not-found';

body {
  background: #f5f5f5;
}

.loading {
  background: rgba(2, 117, 216, 0.4);
  z-index: 100;
  position: absolute;
  border-radius: 2px;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  &#full {
    background: none;
  }
  p {
    top: 45%;
    position: relative;
    text-align: center;
  }

  .outer-wrapper {
    height: 100%;
    width: 100%;
    display: table;
  }

  .outer-wrapper .valign {
    display: table-cell;
    vertical-align: middle;
}
}

#promo-cover {
  background: url(/images/stock.jpg);
  background-size: cover;
  min-height: 100vh;
  header {
    .wrapper {
      a#logo {
        margin: 8px;
        padding: 20px 24px;
        background: rgba(2, 117, 216, 0.45);
        color: #ffffff;
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 1.1;
        display: inline-block;
      }
    }
  }
}

.promo {
  margin: 32px 8px;
}

.promo-title {
  padding: 98px 0 26px;
  h1, h2 {
    color: white;
  }

  .btn {
    border-color: #fff;
    color: #fff;
    background: rgba(255, 255, 255, 0);

    &:hover {
      background: rgba(255, 255, 255, 0.2);
      color: #fff;
    }
  }
}

.btn {
  cursor: pointer;
}

#only-form {
  padding-top: 64px;
}

.material-card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

  .card-image {
    position: relative;
    img {
      display: block;
      border-radius: 2px 2px 0 0;
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
    }
  }

  .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;

    .card-title {
      display: block;
      line-height: 32px;
      margin-bottom: 8px;
      font-size: 24px;
      font-weight: 300;
    }
  }
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.loader {
  width: 100%;
  text-align: center;
}
.spinner {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 64px;
    height: 64px;
    animation: spin 1.2s linear infinite;
    display: inline-block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
