@import 'bootstrap/bootstrap';
@import 'dashboard';
@import 'page-not-found';

.form-box {
  border-radius: 4px;
  border: 1px solid #ddd;
  background: #fff;
  padding: 16px;
  margin: 16px 4px;
  box-shadow: 6px 6px 4px #ccc;
}

.loading {
  background: rgba(2, 117, 216, 0.4);
  z-index: 100;
  position: absolute;
  border-radius: 4px;
  top: 16px;
  bottom: 16px;
  left: 19px;
  right: 19px;
  p {
    top: 45%;
    position: relative;
    text-align: center;
  }
}

#promo-cover {
  background: url(/images/stock.jpg);
  background-size: cover;
  min-height: 100vh;
  header {
    .wrapper {
      a#logo {
        margin: 8px;
        padding: 20px 24px;
        background: rgba(2, 117, 216, 0.45);
        color: #ffffff;
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 1.1;
        display: inline-block;
      }
    }
  }

  .form-box {
    box-shadow: none;
  }
}

.promo {
  margin: 32px 8px;
}

.promo-title {
  padding: 98px 0 26px;
  h1, h2 {
    color: white;
  }

  a.btn {
    border-color: #fff;
    color: #fff;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
      color: #fff;
    }
  }
}