.container-fluid#promo-cover
  header
    .wrapper
      a#logo Brainhub
  .row.promo
    .col-md-7
      .promo-title
        h1.display-4 Pro Feature: Saved Reports
        h2 Share your reports with clients!
        a.btn Learn more
    .col-md-5
      login-form